@font-face {
  font-family: 'GTAmerica-Regular';
  src: url('assets/fonts/GTAmerica-Regular.woff2') format('woff2'),
      url('assets/fonts/GTAmerica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica-Medium';
  src: url('assets/fonts/GTAmerica-Medium.woff2') format('woff2'),
      url('assets/fonts/GTAmerica-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica-ExtendedRegular';
  src: url('assets/fonts/GTAmerica-ExtendedRegular.woff2') format('woff2'),
      url('assets/fonts/GTAmerica-ExtendedRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica-Black';
  src: url('assets/fonts/GTAmerica-Black.woff2') format('woff2'),
      url('assets/fonts/GTAmerica-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica-Light';
  src: url('assets/fonts/GTAmerica-Light.woff2') format('woff2'),
      url('assets/fonts/GTAmerica-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica-Bold';
  src: url('assets/fonts/GTAmerica-Bold.woff2') format('woff2'),
      url('assets/fonts/GTAmerica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  width:100%;
  height: 100%;
}
html{
  width:100%;
  height: 100%;
}

#root {
  width:100%;
  height: 100%;
}